---
---
<header class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-bold">Mi Blog Personal</h1>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:underline">Inicio</a></li>
        <li><a href="/about" class="hover:underline">Sobre mí</a></li>
        <li><a href="/blog" class="hover:underline">Blog</a></li>
        <li><a href="/contacto" class="hover:underline">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
